*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
buildSrc/build/kotlin/buildSrcjar-classes.txt
buildSrc/build/libs/buildSrc.jar
route-android/build/.transforms/6acfe566d3196cff479df4569305911e.bin
route-android/build/.transforms/6acfe566d3196cff479df4569305911e/classes/classes.dex
route-android/build/intermediates/incremental/packageDebugResources/compile-file-map.properties
route-android/build/kotlin/compileDebugKotlin/build-history.bin
route-android/build/kotlin/compileDebugKotlin/last-build.bin
route-core/build/.transforms/9a3220c2afc38823cfbbdfb49a13ae02.bin
route-core/build/.transforms/cd760f133014cfba9ca0be904bb14caa.bin
route-core/build/.transforms/db9e3bb0fede71e961f763145e543aa5.bin
route-core/build/.transforms/9a3220c2afc38823cfbbdfb49a13ae02/jetified-route-core-jvm-0.0.2.jar
route-core/build/.transforms/db9e3bb0fede71e961f763145e543aa5/jetified-route-core-jvm-0.0.2/classes.dex
route-core/build/kotlin/compileKotlinJvm/build-history.bin
route-core/build/kotlin/compileKotlinJvm/last-build.bin
route-core/build/libs/route-core-jvm-0.0.2.jar
